.ballonContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 60px; /* 항목 사이의 간격 조정 */
        justify-content: center; /* 항목들을 중앙 정렬 */
        margin: 20px 0px;
    }

    .ballon_wrap {
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2);
        margin-bottom: 20px; 
        max-width: 300px; 
        display: flex;
        flex-direction: column;
      }

      .content_area{
        flex-grow: 1;
      }

      .content_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* 이미지가 .content_wrap을 넘지 않도록 */
        height: 420px; /* .content_wrap의 높이를 고정 값으로 설정 */
      }
      
      .content_wrap img {
        width: 100%;
        height: auto;
        display: block;
      }
      
      .title_wrap {
        font-size: 18px;
        padding: 10px 20px;
        font-weight: 1000;
      }
      
      .ballon {
        padding: 20px;
        background-color: #f8f8f8;
        white-space: pre-line;
      }
      
      .btn_wrap {
        padding: 10px;
        text-align: right;
        margin-top: auto;
      }
      
      
      .press {
        background-color: #525252;
        color : white;
        border: none;
        padding : 7px 10px;
        font-size : 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px 0px;
        cursor: pointer;
        border-radius: 3px;
      }

      .press:active {
        box-shadow: none;
      }